<!-- Page Heading
================================================== -->
<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class="page-heading__title">Edit <span class="highlight">Venue</span></h1>
        <ol class="page-heading__breadcrumb breadcrumb">
          <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page" >Edit Venue</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Page Heading / End -->
<%= render 'form', venue: @venue %>
