<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @referee_position.name %>
</p>

<%= link_to 'Edit', edit_referee_position_path(@referee_position) %> |
<%= link_to 'Back', referee_positions_path %>
